%h1 Submissions

- @submissions.each do |submission|
  %p
    = link_to 'Read', submission
    %b= submission.title
    = "by #{submission.user.name} (submitted #{submission.created_at}, updated #{submission.updated_at}, #{submission.genre} #{submission.kind}, "
    = submission.submission.split(/W+/).size
    words)
    = link_to 'Edit', edit_submission_path(submission)
    = link_to 'Destroy', submission, :confirm => 'Are you sure?', :method => :delete
%br

= link_to 'New Submission', new_submission_path
