%p#notice= notice

%p
  %b User:
  = @review.user.name
%p
  %b Submission:
  = @review.submission.title
%p
  %b Review:
  = @review.review

= link_to 'Edit', edit_submission_review_path(@review.submission,@review)
\|
= link_to 'Back', submission_reviews_path(@review.submission)